@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}

/******************************header style start**********************************/
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#navbar li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
    
}
#navbar li a:hover{
    color: #088178;
}
#navbar li a.active{
    color: #088178;
}


/**************************header style end**************************/

/**************************home style start**************************/
#hero{
    background: url('images/hero4.png') no-repeat;
    background-size: cover;
    height: 91vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 80px;
    
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}

#hero button{
    background-image: url('images/button.png');
    background-repeat: no-repeat;
    background-color: transparent;
    color: #088178;
    border: none;
    padding: 14px 80px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    
}
/**************************home style end**************************/

#feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#feature .fe-box{
    width: 180px;
    border: 1px solid #cce7d0;
    padding: 25px 15px;
    text-align: center;
    box-shadow: 20px 20px 34px rgba(0, 0, 0,0.06);
    border-radius: 4px;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0,0.06);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    background: tomato;
    padding: 9px 8px;
    border-radius: 4px;
    color: #088178;
}
#feature .fe-box:nth-child(even) h6{
    background-color: #cdebbc;
}

/**************************feature style end**************************/
#product-1{
    text-align: center;
}
#product-1 .pro-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}
#product-1 .pro-container .pro{
    width: 23%;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    padding: 10px 12px;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.02);
    transition: 0.2s ease;
}
#product-1 .pro-container .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.06);
}

#product-1 .pro-container .pro img{
    width: 100%;
    border-radius: 20px;
}
#product-1 .pro-container .pro .desc{
    text-align: start;
    padding: 10px 0;

}
#product-1 .pro-container .pro .desc span{
    color: #606063;
    font-size: 12px;
    
}
#product-1 .pro-container .pro .desc h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product-1 .pro-container .pro .desc .stars i{
    font-size: 12px;
    color: rgb(243,181, 25)
}

#product-1 .pro-container .pro .desc .price-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
}
#product-1 .pro-container .pro .desc .price-cart h4{
    font-size: 20px;
    font-weight: 700;
    color: #088178;
}

#product-1 .pro-container .pro .desc .price-cart i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ca;
    color: #088178;
    text-align: center;
    
}
#product-1 .pro-container .pro .desc .price-cart i:hover{
    background-color: #088178;
    color: #e8f6ca;;
}